---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for p in collections.all %}
{%- if p.url and not ('admin' in p.url) and not ('acceso' in p.url) and not ('dashboard' in p.url) and not ('cuenta' in p.url) %}
  <url><loc>https://profefranciscopancho.com{{ p.url }}</loc></url>
{%- endif %}
{%- endfor %}
</urlset>
