---
layout: layout.njk
title: "Tips para Módulo 1"
---
<div class="bg-gray-100 p-4 md:p-8">
    <div class="max-w-4xl mx-auto bg-white p-6 md:p-10 rounded-lg shadow-lg">
        <h1 align="center"><font size="6">Modulo 1</font></h1>
        <h2 align="center"><font size="5">Planificación y evaluación</font></h2>
        <div>
            <p><font size="4"><b>Planificación</b></font></p>
            <p>Se debe presentar un trabajo que integre la planificación de una unidad pedagógica, la implementación de una clase y una evaluación de los aprendizajes de los estudiantes. Este trabajo se realiza en base a los Objetivos de Aprendizaje del currículum vigente y debe ser coherente con el proyecto educativo del establecimiento y las características de los y las estudiantes.</p>
            <p><font size="4"><b>Clase</b></font></p>
            <p>Se debe implementar la clase planificada, la que será grabada. En esta clase se debe demostrar un dominio de los contenidos, un ambiente de aula respetuoso y organizado, y el uso de estrategias de enseñanza y evaluación que promuevan el aprendizaje de todos los y las estudiantes.</p>
            <p><font size="4"><b>Evaluación</b></font></p>
            <p>Se debe presentar una evaluación de los aprendizajes de los estudiantes, la que debe ser coherente con los Objetivos de Aprendizaje y las estrategias de enseñanza utilizadas. Se debe incluir una reflexión sobre los resultados de la evaluación y cómo estos retroalimentarán la práctica pedagógica.</p>
        </div>
        </div>
</div>
