---
layout: layout.njk
title: "Tips para Trabajo Colaborativo"
---
<div class="bg-gray-100 p-4 md:p-8">
    <div class="max-w-4xl mx-auto bg-white p-6 md:p-10 rounded-lg shadow-lg">
        <h1><font color="#0000ff">Tips para la clase colaborativa</font></h1>
        <ol>
            <li><b>Elegir un colega motivado:</b> Es fundamental trabajar con alguien que tenga una buena disposición y con quien puedas comunicarte de manera fluida.</li>
            <li><b>Definir un objetivo común:</b> Ambos deben tener claro qué quieren lograr con la clase colaborativa.</li>
            <li><b>Planificar en conjunto:</b> Dediquen tiempo a planificar la clase, distribuyendo roles y responsabilidades.</li>
            <li><b>Comunicación constante:</b> Mantengan una comunicación abierta y honesta durante todo el proceso.</li>
            <li><b>Evaluar el proceso:</b> Al finalizar, evalúen juntos qué funcionó bien y qué se puede mejorar para futuras colaboraciones.</li>
        </ol>
        </div>
</div>
